html {
	font-size: 62.5%;
}
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
	font-family: "Space Mono", monospace;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #c5e4e7;
}
.logo {
	max-width: 8.7rem;
	max-height: 5.4rem;
	margin-top: 5rem;
}
.calculator {
	background-color: #ffffff;
	border: solid white 32px;
	border-radius: 3rem;
	margin-top: 8.8rem;
	display: flex;
}
.number-side {
	margin: 1.6rem;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 38rem;
	/* width: 100%; */
}
.layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 6px;
}
.title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	color: #5e7a7d;
}
.input-group {
	width: 100%;
	background-color: #f3f9fa;
	display: flex;
	align-items: center;
	border: 2rem;
	padding: 0.6rem 1.7rem 0.6rem 1.9rem;
	border-radius: 1rem;
}
.bill-people::placeholder {
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0px;
}
.bill-people {
	width: 100%;
	height: 4.8rem;
	text-align: right;
	background-color: transparent;
	border: none;
	height: 100%;
	display: flex;
	align-items: center;
	font-family: Space Mono;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0px;
	font-size: 2.4rem;
	color: #00474b;
}
.input-group:hover {
	border: solid 2px #26c2ae;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.buttons {
	display: grid;
	grid-template-columns: repeat(3, 11.7rem);
	row-gap: 1.6rem;
	column-gap: 1.4rem;
}
.percent {
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0px;
	text-align: center;
	color: white;
	background-color: #00474b;
	border: none;
	border-radius: 1rem;
	padding: 0.6rem 0;
}
.percent:hover {
	background-color: #9fe8df;
	color: #00474b;
	cursor: pointer;
}
.active {
	background-color: #26c2ae;
	color: #00474b;
}
.custom {
	background-color: #f3f9fa;
	color: #547878;
	text-align: right;
	padding-right: 1.5rem;
	text-transform: capitalize;
}
.custom ::placeholder {
	text-align: center;
}
.custom:hover {
	border: solid 2px #26c2ae;
	background-color: white;
}
.icon {
	width: 13px;
	height: 16px;
}

.result-side {
	background-color: #00474b;
	padding: 4rem;
	width: 41.3rem;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
}
.tip-amount,
.total-amount {
	padding: 16px 0 11px;
	/* max-width: 33.3rem; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
p {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	color: #ffffff;
	text-transform: capitalize;
}
span {
	color: #7f9d9f;
	font-size: 13px;
}
.reset {
	margin-top: 122px;
	color: #00474b;
	background-color: #26c2ae;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0px;
	text-align: center;
	border: none;
	border-radius: 1rem;
	text-transform: uppercase;
	padding: 1rem 0;
}
.reset:hover {
	background-color: #9fe8df;
}
.total,
.amount {
	font-size: 48px;
	font-weight: 700;
	line-height: 71px;
	letter-spacing: -1px;
	text-align: right;
	color: #26c2ae;
}
.group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.error {
	color: #e17457;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: right;
	display: none;
}
.border {
	border: 2px solid transparent;
}
@media (max-width: 900px) {
	.calculator {
		flex-direction: column;
	}
}
@media (max-width: 540px) {
	.calculator {
		border: 3.2rem 2.4rem;
		gap: 3.2rem;
		justify-content: center;
	}
	.number-side {
		margin: 0.8rem;
		gap: 3.2rem;
		width: 31rem;
		/* width: 100%; */
	}
	.buttons {
		display: grid;
		grid-template-columns: repeat(2, 14.6rem);
		column-gap: 1.6rem;
	}
	.result-side {
		padding: 3.7rem 2.4rem 2.4rem;
		width: 32.7rem;
	}
	.total,
	.amount {
		font-size: 32px;
		line-height: 40px;
	}
	.reset {
		margin-top: 0.9rem;
	}
	.tip-amount,
	.total-amount {
		padding: 0 0 2.3rem 0;
	}
}
